body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html, body {
  overflow-x: hidden;
  overflow-y: auto;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="38" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') 0 0, auto;
  background: radial-gradient(circle at center, #3b3b3b 0%, #3c3c3c 40%, #202020 100%);

}


* {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 #1f2937;
  /* ползунок / трек */
}

/* Webkit-браузеры (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 8px;
  /* вертикальный */
  height: 8px;
  /* горизонтальный */
}

*::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #6366f1;
  border-radius: 4px;
  border: 2px solid #1f2937;
  transition: background 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #818cf8;
}

*::-webkit-scrollbar-corner {
  background: #1f2937;
  /* угол скроллбаров */
}